<div class="row justify-content-center no-gutters">
    <div class="col-lg-12 order-lg-first" style="margin:5px; padding: 5px;">
        <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                    <h1 class="text-center"> KAKO UČESTVOVATI NA IZAZOVU ZA 2019 GODINU</h1>
                    <hr>
                    <br>
                    <p>Sljedeća edicija Klokan matematičar izazova će se održati<strong>u četvrtak 21. marta/ožujka 2019 godine u 12 sati i 30 minuta</strong>. Ukoliko ste nastavnik ili profesor prijavite se već sada (a najkasnije do 28.02.2019 godine) kao
                        koordiranator za svoju školu. Koordinator će takođe u što kraćem roku prijaviti svoju školu i zatražiti pripadajući registracijski dvocifreni/dvoznamenkasti broj. Koordinator prijavljuje školu na email klokan.matematicar.ba@gmail.com.</p>
                    <p>Koordinator pravi spisak učenika-učesnika iz svoje škole koristeći Excel dokument koji može preuzeti na www.klokan-matematicar.ba, ili zatražiti na email
                        <a href="mailto:klokan.matematicar.ba@gmail.com">
                            <em> klokan.matematicar.ba@gmail.com.</em>
                        </a> Koordinator takođe prikuplja kotizaciju od svih učenika u iznosu od 3 KM po učeniku</p>
                    <p>Krajnji rok za prijavu učenika-učesnika je <strong>28.02.2019 godine u 15 sati</strong> . </p>

                    <p>Krajnji rok za uplatu kotizacija je <strong>15.03.2019 godine</strong>.</p>
                    <p>
                        Učenici (i nastavnici) već sada imaju priliku da vježbaju sa nekim prethodnim izazovima.
                    </p>
                    <p>
                        Ukoliko ste učenik obavjestite svog nastavnika, informatike ili tehničkog odgoja, i zamolite ga za organizaciju izazova u vašoj školi.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>