<div class="row justify-content-center no-gutters">
    <div class="col-lg-12 order-lg-first" style="margin:5px; padding: 5px;">
        <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                    <!-- h4 class="text-black">Klokan Matematičar Izazov</h4> -->


                    <!-- <h1 class="text-center"> Kontakt i Lokacija: </h1> -->

                    <div class="col col-lg-2">

                    </div>
                    <div class="col col-lg-5" id="kontaktDiv">
                        <h1>Kontakt</h1>
                        <br><br>
                        <p>email: klokan.matematicar.ba@gmail.com </p>
                        <p>tel: +387 61 215 955</p>

                    </div>
                    <!-- <div class="col col-lg-2"></div> -->

                    <div class="col col-lg-5" id="lokacija">
                        <h1>Lokacija</h1>
                        <br> <br>
                        <p>ul. Branitelja Sarajeva 41 </p>
                        <p>71000 Sarajevo </p>
                        <p> Bosna i Hercegovina</p>




                    </div>
                    <hr class="d-none d-lg-block mb-0 mr-0">

                </div>
            </div>
        </div>
    </div>
</div>