<div class="container">
    <div class="row">
        <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
                <div class="card-body text-center">
                    <h1 class="text-center">Prvi div</h1>
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" id="caro">
                            <div class="carousel-item active">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZidrRonXtlHZ6NSMmahM4qWFxbvrX-gfNOGhiN3I4ypZaQh9f6w" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item" id="caro">
                                <h1 class="text-center"> Udbzenik za 2. i 3. razred</h1>
                                <p class="text-center"> Cijena </p>
                                <button class="btn btn-primary"> Naruci</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
                <div class="card-body text-center">
                    <h1 class="text-center">Drugi div</h1>
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" id="caro">
                            <div class="carousel-item active">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZidrRonXtlHZ6NSMmahM4qWFxbvrX-gfNOGhiN3I4ypZaQh9f6w" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item" id="caro">
                                <h1 class="text-center"> Udbzenik za 2. i 3. razred</h1>
                                <p class="text-center"> Cijena </p>
                                <button class="btn btn-primary"> Naruci</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
                <div class="card-body text-center">
                    <h1 class="text-center">Treci div</h1>
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" id="caro">
                            <div class="carousel-item active">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZidrRonXtlHZ6NSMmahM4qWFxbvrX-gfNOGhiN3I4ypZaQh9f6w" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item" id="caro">
                                <h1 class="text-center"> Udbzenik za 2. i 3. razred</h1>
                                <p class="text-center"> Cijena </p>
                                <button class="btn btn-primary"> Naruci</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>